<h2>Cadastrar Material</h2>

<form method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Custo Unitário:</label>
    <input type="number" step="0.01" name="custo_unitario" required>

    <label>Unidade de Medida:</label>
    <input type="text" name="unidade" required>

    <button type="submit">Salvar</button>
</form>

<h2>Lista de Materiais</h2>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Custo</th>
        <th>Unidade</th>
        <th>Ações</th>
    </tr>

{% for material in materiais %} <!--percorre a lista-->
<tr>
    <td contenteditable="true" class="editavel"
        data-id="{{ material.id }}"
        data-campo="nome">
        {{ material.nome }}
    </td>
    
    <td contenteditable="true" class="editavel"
        data-id="{{ material.id }}"
        data-campo="custo_unitario">
        {{ material.custo_unitario }}
    </td>

    <td contenteditable="true" class="editavel"
        data-id="{{ material.id }}"
        data-campo="unidade_medida">
        {{ material.unidade_medida}}
    </td>
    
    <td>
        <a href="{{ url_for('main.excluir_material', id=material.id) }}"
        onclick="return confirm('Tem certeza que deseja excluir este material?')">
        Excluir
        </a>
    </td>
</tr>
{% endfor %}

</table>

<script src="{{ url_for('static', filename='js/materiais.js') }}"></script>