<h2>Cadastrar Material</h2>

<form method="POST">
    <label>Nome:</label><br>
    <input type="text" name="nome" required><br><br>

    <label>Custo Unitário:</label><br>
    <input type="number" step="0.01" name="custo_unitario" required><br><br>

    <label>Unidade de Medida:</label><br>
    <input type="text" name="unidade" required><br><br>

    <button type="submit">Salvar</button>
</form>

<hr>

<h2>Lista de Materiais</h2>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Custo</th>
        <th>Unidade</th>
        <th>Ações</th>
    </tr>

{% for material in materiais %} <!--percorre a lista-->
<tr>
    <td>{{ material.nome }}</td>
    <td>{{ material.custo_unitario }}</td>
    <td>{{ material.unidade_medida }}</td>

    <td>
        <a href="#" class="btn-editar"
            data-id="{{ material.id }}"
            data-nome="{{ material.nome }}"
            data-custo="{{ material.custo_unitario }}"
            data-unidade="{{ material.unidade_medida }}">
            Editar
        </a>
        |
        <a href="{{ url_for('main.excluir_material', id=material.id) }}"
        onclick="return confirm('Tem certeza que deseja excluir este material?')">
        Excluir
        </a>
    </td>
</tr>
{% endfor %}

</table>

<!-- MODAL (janela de edição) -->
<div id="modal" style="display:none;">

    <h3>Editar Material</h3>

    <input type="hidden" id="edit-id">

    <label>Nome:</label><br>
    <input type="text" id="edit-nome"><br><br>

    <label>Custo Unitário:</label><br>
    <input type="number" id="edit-custo"><br><br>

    <label>Unidade:</label><br>
    <input type="text" id="edit-unidade"><br><br>

    <button onclick="salvarEdicao()">Salvar</button>
    <button onclick="fecharModal()">Cancelar</button>

</div>

<!--JS-->

<script src="{{ url_for('static', filename='js/materiais.js') }}"></script>